.navbar {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(36deg, #7d974e 80%, #b0906b 9%);;
}

.links h6{
    padding-top: 7px;
    padding-right: 50px!important;
    cursor: pointer;
    color: white;
}

.text-decorator-none {
    text-decoration: none;
    color: white;
}