.tamanho {
    width: 200px !important;
    height: 200px;
}

.card {
    width: 500px;
    height: 400px;
    margin: 20px;
}

.alinhar {
    display: flex;
}

.container {
    background:rgb(197, 253, 160);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.back {
    width: 100% !important;
    height: 100% !important;
    
}

body{
    background:rgb(197, 253, 160);
}