.card-tamanho-2 {
    width: 300px !important;
    height: 240px !important;
}

.botao-del-1 {
    background: #7d974e !important;
    margin-left: 25px !important;
}

.container-deletar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}