.box1 {
    background: linear-gradient(36deg, #7d974e 80%, #b0906b 9%);
    ;
    height: 70px !important;
    padding-top: 10px;
}

.box2 {
    padding-left: 10px;
}

.redes {
    font-size: 40px !important;
    color: white !important;
}

.box3 {
    padding-right: 10px;
    color: white !important;
    font-weight: bold !important;
}

.box3 a {
    text-decoration: none;
    color: white !important;
}